<h1>Editing etablissement</h1>

<%= render "form", etablissement: @etablissement %>

<br>

<div>
  <%= link_to "Show this etablissement", @etablissement %> |
  <%= link_to "Back to etablissements", etablissements_path %>
</div>
