<div class="m-4">
<h1><%= link_to "Etablissements", etablissements_path %></h1>
<h1><%= link_to "Niveaux", niveaus_path %></h1>
<h1><%= link_to "Classes", classrooms_path %></h1>
<h1><%= link_to "Eleves", students_path %></h1>
</div>